html{
    font-size: 62.5%;
}

body{
    background: white;
    font-family: sans-serif;
}

.subtitulo{
    color: black;
    text-align: center;
    margin: 0;
    padding: 0;
}

.titulo{
    color: black;
    text-align: center;
    font-size: 6rem;
    padding: 20px;
    margin: 0;
}


/*sin uso titulo span*/
.titulo span{
    font-size: 20px;
    padding: 0;
    margin: 0;
}

.integrantes{
    color: black;
    text-align: center;
    font-size: 15px;
    margin: 0;
    padding: 2px;    
}



.contenedor{
    max-width: 120rem;
    margin: 0 auto;

}
.nav-bg{
    background-color: #4272F8;
    margin-top: 10px;
}
.nav-principal{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

@media (min-width: 930px){
    .nav-principal{
        flex-direction: row;
    }
}
.nav-principal a {
    color: white;
    font-size: 17px;
    padding: 5px;
    text-decoration: none;

}
.nav-principal a:hover {
    background-color:	#D3D3D3;
    font-size: 17px;
    text-decoration: none;
    color: black;

}

.full{
    padding: 13px;
    width: 90rem;
    font-size: 15px;
    margin: 0 auto;
}

.imagenes_funcionamiento{
    display: block;
    margin: auto;
}
.piefoto{
    text-align: center;
    font-weight: bold;
}


.texto-largo{
    text-align: justify;
}

.derechos{
    text-align: center;
    font-size: 15px;
}

.uml{
    display: block;
    margin: auto;
    width: 80%;
}

.gitlab{
    display: block;
    margin: auto;
    width: 20%;

}
